In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import normalize, StandardScaler
from sklearn.utils.class_weight import compute_sample_weight
from sklearn.metrics import roc_auc_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import LinearSVC

In [2]:
file_path = r"C:\Users\dipak\OneDrive\Desktop\github_ai\ml_with_python\three_module\creditcard.csv"

In [3]:
raw_data = pd.read_csv(file_path)

In [4]:
raw_data.sample(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
54716,46584.0,-0.906344,1.816551,0.521444,1.441435,0.761194,0.949196,-0.036321,-1.294549,-1.353441,...,1.532012,-0.504877,0.078093,-1.057990,-0.144744,-0.144239,-0.290336,-0.256672,7.50,0
169650,119795.0,-2.003471,-2.514606,0.560155,-2.002688,0.158204,-1.293386,-1.455724,0.559788,-1.966084,...,0.134592,-0.230460,0.040252,0.685488,-0.083582,-0.204740,0.006696,-0.243351,77.00,0
128423,78704.0,1.108739,0.135078,0.503844,1.327961,-0.224176,0.018487,-0.059556,0.142693,0.080006,...,-0.041983,0.059993,-0.043662,0.233567,0.592299,-0.341395,0.033766,0.006901,7.63,0
54085,46279.0,1.271810,0.058766,-0.254746,-0.212406,0.095603,-0.520114,0.227257,-0.123123,-0.269997,...,-0.433032,-1.384804,0.074190,-0.488623,0.171213,0.654116,-0.110285,-0.011001,29.95,0
237968,149470.0,2.053949,0.334230,-1.938809,1.032763,0.855102,-0.864960,0.704441,-0.346028,-0.402541,...,0.151799,0.541804,-0.066801,-0.463192,0.486872,-0.473979,-0.031751,-0.078523,1.00,0

In [5]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
raw_data.describe()

                Time            V1  ...         Amount          Class
count  284807.000000  2.848070e+05  ...  284807.000000  284807.000000
mean    94813.859575  1.168375e-15  ...      88.349619       0.001727
std     47488.145955  1.958696e+00  ...     250.120109       0.041527
min         0.000000 -5.640751e+01  ...       0.000000       0.000000
25%     54201.500000 -9.203734e-01  ...       5.600000       0.000000
50%     84692.000000  1.810880e-02  ...      22.000000       0.000000
75%    139320.500000  1.315642e+00  ...      77.165000       0.000000
max    172792.000000  2.454930e+00  ...   25691.160000       1.000000

[8 rows x 31 columns]

: